@charset "UTF-8";
/* CSS Document */


/*--------------------------------------------------------------

>>> TABLE OF CONTENTS:

----------------------------------------------------------------

1.0 - Typography

1.1 - Headings

1.2 - Body Copy

1.3 - Buttons

1.4 - Forms

1.5 - Lists

2.0 - Navigation Menus

3.0 - Content

3.1 - Site Structure

3.2	- Site Header

3.3	- Site Footer

4.0 - Media

5.0 - Utility

5.1 - Text Sizes

5.2 - Colors

5.3 - Alignments

--------------------------------------------------------------*/
body {
	font-size: 16px;
}
/*-----------------------1.0 TYPOGRAPHY-------------------------*/

h2, blockquote p, #hero span, blockquote a {
	font-family: 'Unkempt', cursive;
}
p, h3, nav {
	font-family: 'Open Sans', sans-serif;
}
/*--------1.1 Headings---------*/

#hero h3, h2 {
	font-size: 3rem;
	font-family: 'Unkempt', cursive;
}
h4 {
	font-size: 1.1rem;
	padding-top: 75px;
}
h2, h3, h4 {
	font-weight: 600;
}
/*--------1.2 Body Copy-----------*/

#hero span, h4, #hero a, #products a {
	text-transform: uppercase;
}
blockquote p {
	line-height: 4.5rem;
	margin: 20px;
}
blockquote p, blockquote a {
	text-align: center;
}
.origin {
	font-weight: 700;
	margin-bottom: 25px;
}
#shipping {
	line-height: 2rem;
	margin-top: 50px;
}
#about p {
	line-height: 2.2rem;
}
#hero a, #shipping {
	font-weight: 300;
}
/*--------1.3 Buttons----------*/

#hero a, #products a, form a {
	border: 1px solid #00987e;
	padding: 5px 20px;
}
#hero a:hover, #products a:hover, form a:hover {
	color: #fff;
	background-color: #00987e;
}
#hero a {
	margin-top: 25px;
}

form a {
	margin-top: 25px;
}
/*--------1.4 Forms-----------*/

label {
	display: none;
}
input, textarea {
	border: none;
	border-bottom: 2px solid #4d4c4c;
}
#about input {
	padding-right: 150px;
}
#connect input {
	padding-right: 100px;
}
#connect form input:first-child {
	margin-right: 25px;
}
textarea {
	padding-right: 350px;
    margin-top: 40px;
}
#connect form a {
	margin-top: 25px;
}
/*--------1.5 Lists-----------*/

#facebook {
	background: url(../img/facebook-sprite.png) no-repeat;
}
#twitter {
	background: url(../img/twitter-sprite.png) no-repeat;
}
#google-plus {
	background: url(../img/google-sprite.png) no-repeat;
}
#facebook, #twitter, #google-plus {
	width: 33px;
	height: 32px;
}
#facebook:hover, #twitter:hover, #google-plus:hover {
	background-position: 0 -32px;
}
nav li, #facebook, #twitter, #google-plus, #connect li, a {
	display: inline-block;
}

/*-----------------------2.0 NAVIGATION MENU-------------------------*/

nav li {
	margin: 80px 40px 0 0;
}
nav li:first-child {
	margin-left: 120px;
}
nav a:hover {
	border-bottom: 2px solid #00987e;
}
nav a, blockquote a, a {
	text-decoration: none;
}
/*-----------------------3.0 CONTENT-------------------------*/

/*--------3.1 Site Structure---------*/

#products h2 {
	display: none;
}
#position-one {
	position: absolute;
	top: 200px;
	left: 80px;
	z-index: -1;
}
#position-two {
	position: absolute;
	bottom: 0px;
	right: 100px;
}
#hero {
	margin-bottom: 100px;
}
#products, #about {
	margin-bottom: 150px;
	margin-top: 100px;
}
#map {
	width: 100%;
	height: 400px;
}
/*--------3.2 Site Header-----------*/


/*--------3.3 Site Footer----------*/

/*-----------------------5.0 UTILITY-------------------------*/
/*--------5.1 Text Sizes---------*/

nav li, .origin, #about span {
	font-size: .8rem;
	line-height: 1rem;
}
#hero span, blockquote p {
	font-size: 3.3rem;
}
#about p a {
	font-size: 1.2rem;
}
/*--------5.2 Colors-----------*/

#hero span, blockquote p, blockquote a, #about p a {
	color: #8da382;
}
nav a, p, h4, #hero a, #products a, form a {
	color: #4d4c4c;
}
h3, h2 {
	color: #b1d144;
}
#about p a:hover, blockquote a:hover {
	color: #00987e;
}
/*--------5.3 Alignments----------*/

#hero h3, #about h2 {
	margin-bottom: 0;
}
.m-t-md-neg {
	margin-top: -30px;
}
#about .col-1-2 {
	margin-right: 50px;
}
#products figure {
	margin-left: 0;
}
.txt-center {
	text-align: center;
}
#about figure {
	margin: 0 auto;
}
#connect ul {
	padding-left: 0;
	margin: 25px 0px;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.wrapper {
	width: 85%;
	margin: 0 auto;
}
img {
	max-width: 100%;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
[class*='col-'] {
	float: left;
	padding-right: 20px;
	margin-bottom: 20px;
}
[class*='col-']:last-of-type {
	padding-right: 0px;
}
.col-1-1 {
	width: 100%;
}
.col-1-2 {
	width: 50%;
}
.col-1-3 {
	width: 33.33%;
}
.col-2-3 {
	width: 66.66%;
}
.col-1-4 {
	width: 25%;
}
.col-3-4 {
	width: 75%;
}
.col-1-5 {
	width: 20%;
}
.col-3-5 {
	width: 60%;
}
.col-2-5 {
	width: 40%;
}
.col-1-6 {
	width: 16.66%;
}
.col-4-6 {
	width: 66.64%;
}
.col-2-6 {
	width: 33.32%;
}
.col-1-7 {
	width: 14.28%;
}
.col-3-7 {
	width: 42.84%;
}
.col-4-7 {
	width: 57.12%;
}
.col-1-8 {
	width: 12.5%;
}
.col-3-8 {
	width: 37.5%;
}
.col-5-8 {
	width: 62.5%;
}
.col-1-9 {
	width: 11.11%;
}
.col-6-9 {
	width: 66.66%;
}
.col-3-9 {
	width: 33.33%;
}
.col-1-10 {
	width: 10%;
}
.col-3-10 {
	width: 30%;
}
.col-7-10 {
	width: 70%;
}
.col-1-11 {
	width: 9.09%;
}
.col-4-11 {
	width: 36.36%;
}
.col-7-11 {
	width: 63.63%;
}
.col-1-12 {
	width: 8.33%;
}
.col-3-12 {
	width: 24.99%;
}
.col-9-12 {
	width: 74.97%;
	position: relative;
}

.col-2-5, .col-9-12, .col-2-3 {
	float: none;
	margin: 0 auto;
}

@media screen and (max-width:480px) {
	/*--------------------------------------------------------------

>>> TABLE OF CONTENTS:

----------------------------------------------------------------

1.0 - Typography

1.1 - Headings

1.2 - Body Copy

1.3 - Buttons

1.4 - Forms

1.5 - Lists

2.0 - Navigation Menus

3.0 - Content

3.1 - Site Structure

3.2	- Site Header

3.3	- Site Footer

4.0 - Media

5.0 - Utility

5.1 - Text Sizes

5.2 - Colors

5.3 - Alignments

--------------------------------------------------------------*/
.col-1-2, .col-1-3, .col-2-3, .col-4-7, .col-3-8, .col-2-5, .col-9-12 {
	width: 100%;
}
.col-3-4 {
	width: 75%;
}
.col-1-5, .col-1-7, .col-1-11 {
	width: 100%;
}
.col-1-6, .col-2-6, .col-1-9, .col-1-12 {
	width: 33.33%;
}
.col-4-6 {
	width: 66.64%;
}
.col-1-8 {
	width: 25%;
}
.col-1-10 {
	width: 50%;
}
.col-3-10 {
	width: 30%;
}
.col-4-10 {
	width: 40%;
}
.col-2-11 {
	width: 18.12%;
}
.col-3-11 {
	width: 27.18%;
}
.col-6-11 {
	width: 54.36%;
}
.col-1-10:nth-child(2), .col-1-10:nth-child(4), .col-1-10:nth-child(6), .col-1-10:nth-child(8), .col-1-11, .col-1-9:nth-child(3), .col-1-9:nth-child(6), .col-1-5, .col-1-6:nth-child(3), .col-1-7, .col-1-8:nth-child(4), .col-1-12:nth-child(3), .col-1-12:nth-child(6), .col-1-12:nth-child(9) {
	padding-right: 0;
}

/*-----------------------1.0 TYPOGRAPHY-------------------------*/
body {
	font-size: 14pt;
}
/*--------1.1 Headings---------*/
h1 {
	margin-bottom: -20px;
}
#hero h3 {
	font-size: 2rem;
}
/*--------1.2 Body Copy-----------*/
#hero span {
	font-size: 2.5rem;
}
p {
	font-size: .9rem;
}
blockquote p {
	font-size: 1.9rem;
	line-height: 2.8rem;
	text-align: left;
}
#shipping {
	line-height: 1.7rem;
}
#about p {
	line-height: 1.8rem;
}

/*--------1.3 Buttons----------*/

#products a, form a {
	border: 1px solid #00987e;
	padding: 5px 20px;
	font-size: .9rem;
}
/*--------1.4 Forms-----------*/
/*--------1.5 Lists-----------*/

/*-----------------------2.0 NAVIGATION MENU-------------------------*/

nav li:first-child {
	margin-left: 0;
}
nav li {
	margin-top: 0;
	margin-bottom: 25px;
}
/*-----------------------3.0 CONTENT-------------------------*/

/*--------3.1 Site Structure---------*/
#hero {
	margin-bottom: 50px;
}

#products {
	margin-top: 50px;
}

/*--------3.2 Site Header-----------*/


/*--------3.3 Site Footer----------*/

/*-----------------------5.0 UTILITY-------------------------*/
/*--------5.1 Text Sizes---------*/
/*--------5.2 Colors-----------*/
/*--------5.3 Alignments----------*/
#hero {
	position: relative;
}
#featured-bag {
	position: absolute;
	width: 50%;
	top: 150px;
	right: 0;
}
#products figure, #about figure {
	margin-left: 0;
}
#product-bag {
	display: none;
}
blockquote {
	margin: 10px 0;
}
#position-one {
	display: none;
}
#position-two {
	width: 30%;
	bottom: 80px;
	right: 30px;
}
#connect .col-1-2 {
	margin-top: 100px;
}
#connect form input, #connect form textarea {
	padding-right: 150px;
	margin: 25px 0px;
}




}
